extends: default

rules:
  braces:
    min-spaces-inside: 0
    max-spaces-inside: 1
    level: error
  brackets:
    min-spaces-inside: 0
    max-spaces-inside: 1
    level: error
  line-length: disable
  truthy: disable
  indentation:
    spaces: 2
    indent-sequences: consistent
  comments:
    require-starting-space: false
